.idea/
*.pyc
~*/

audio_cache/
dectalk/

discord.log
logs/
data/
config/options.ini
config/permissions.ini
config/autoplaylist.txt
config/autoplaylist_removed.txt
config/playlist_with_names.txt
config/swish.log
config/_autoplaylist.txt